.footerdiv{
border-top: 1px solid var(--Eerie-Black);
padding-top: 1%;
}

.footer{
   
    background-color: var(--jonquil);

}

.footer h1{
    font-size: var(--font-size-MH);
    color: var(--Eerie-Black);
    text-align: center;
    margin: 0;
    padding: 0;
}
.footerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
}
.footerInfoIntem h3{
    font-size: var(--font-size);
    margin: 0;
}

.footerInfoIntem li{
    list-style : none;
    font-size: calc( var(--font-size) *1.5);
    color: var(--Eerie-Black);
}


.footerInfoIntem a{
    color: var(--Eerie-Black);
}
