.footerdiv{
border-top: 1px solid var(--Eerie-Black);
padding-top: 1%;
}

.footer{
   
    background-color: var(--jonquil);
    height: 300px;
}

.footer h1{
    font-size: var(--font-size-MH);
    color: var(--Eerie-Black);
    text-align: center;
    margin: 0;
    padding: 0;
}
.footerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}