.menu{
  height: 50px;
  border-bottom: 1px solid var(--Eerie-Black);
  font-family: var(--font-family);
  color: var(--Eerie-Black);

}

.menu h1 {
  color: var(--Eerie-Black);
  margin: 0;
  padding: 0;
  
}

.gate{
  font-size: var(--font-size-MH);
  font-family: var(--font-family);
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}


.gate h2{
  margin: 0;
  padding: 0;
  
}

.gate img{
  width: 100px;
}

.Hero {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-H);
  font-family: var(--font-family-2);
  margin: 0;
}
.Hero h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
}



.SmallFont{
  font-family: var(--font-family-3);
  font-size: var(--font-size-MH);
  background-color: var(--coquelicot);
 

}
.LargeFont{
  font-family: var(--font-family-3);
  font-size: var(--font-size-MH);
  background-color: var(--jonquil);
  border-radius: 50%;
}

.headerNewsContainer {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  background-color: var(--coquelicot);
 
}

.headerNewsContainerItem{
  padding: 3%;
  font-family: var(--font-family-2);
  border-top: 1px solid var( --Eerie-Black);
  border-bottom: 1px solid var( --Eerie-Black);
  border-right: 1px solid var( --Eerie-Black);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.headerNewsContainerItem:last-child {
  border-right: none; 
  
}
.headerNewsContainerItem h2{
  font-size: var(--font-size-SH);
  margin:0 0 0 0;
  
}

.headerNewsContainerItem img {
  display: flex;
  justify-content: center;
  align-items: center;

  filter: opacity(0.8);
  width: 20px;
  margin: 0 0 0 0;
}

.headerNewsContainerItem p {
  margin: 0 0 0 0;
  justify-items: center;
}

.SubHeader{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--font-size-SH);
  background-color: var(--Eerie-Black);
  border: 1px solid  var(--Eerie-Black);
  border-bottom: none;
  color: var(--white-smoke);
  margin-bottom: 15%;

}

.SubHeader h1{
  
  margin: 0;
  padding: 1%;
  
  color: var(--white-smoke);
  font-size: var(--font-size-MH);
  font-family: var(--font-family-3);
 

}
.centerText{
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubHeader h3{
  text-align: left;
  color: var(--Eerie-Black);
  font-size: var(--font-size);
  
}

.containerinfo{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  padding: 2px;
}

.info {
  display: block;
  border: 2px solid var(--Eerie-Black);
  background-color: var(--white-smoke);
  border-radius: 5%;
  padding: 1%;
}
.info p{
  font-size: var(--font-size);
  color: var(--Eerie-Black);
  padding-left: 1%;
}

.info h3{
  margin: 0;
  padding: 1%;
  color: var(--Eerie-Black);
  font-family: var(--font-family);
  font-size: var(--font-size-SH);
}

.info h3:hover{
  color: var(--white-smoke);
  text-shadow: 3px 3px var(--Eerie-Black);
}

.info img{
  width: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.info:hover {
  background-color: var(--jonquil);
  border-width: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
}

.infoHighlight{
  border-bottom: 2px dotted var(--coquelicot);
  font-family: var(--font-family-4);
}

.ContainerExitos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15%;

}

.Exitos {
  border: 2px solid var(--white-smoke);
  background-color: var(--Eerie-Black);
  border-radius: 5%;
  color: var(--white-smoke);
  font-family: var(--font-family-4);
  text-align: center;
  list-style-type: none;

}

.Exitos:hover {
  background-color: var(--coquelicot);
  border: 2px solid var(--Eerie-Black);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Exitos h2{
  margin: 0;
  padding: 0;
}
.Exitos h1{
  border-bottom: 2px solid var(--white-smoke);
 
  margin: 0;
  padding: 0;
}

.Exitos ul{
  list-style-type: none;
  padding: 0;

}

.buyButtom {
  font-family: var(--font-family-2);
  font-size: var(--font-size-SH);
  
  color: var(--white-smoke);
  width: fit-content;
  text-decoration: none;
  border-top: 2px solid var(--white-smoke);
}


.buyButtom:hover{
  color: var(--Eerie-Black);
  text-shadow: 2px 2px var(--white-smoke);
}

.etiquetas{
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: var(--font-size);
  justify-content: center;
  align-items: center;
  background-color: var(--coquelicot);
  border: 1px solid var(--white-smoke);
  border-radius: 100%;
}
.etiquetas h1{
  font-size: var(--font-size-MH);
}

.titles{
font-family: var(--font-family);
font-size: var(--font-size-MH);
color: var(--Eerie-Black);
margin: 0;
padding: 0;

}

.titles h2{
  margin: 0;
  margin-bottom: -15px;
  padding: 0;
}

.titleRed{
  background-color: var(--coquelicot);
  margin: 0;
}


.sectionAbout{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--jonquil);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.sectionAbout img{
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
  margin-left: 1%;
}
.sectionAbout p{
  width: 65%;
}
.sectionAboutItem{
  align-content: center;
  justify-content: center;
  align-items: center;
  display: grid;
  justify-items: right;
}

.buttons1{
  background-color: none;
  font-family: var(--font-family-6);
  font-size: var(--font-size-H);
  color: var(--Eerie-Black);
  text-align: center;
}

.buttons1:hover{
  background-color: var(--coquelicot);
  color: var(--white-smoke);
}



.tecno{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 320px;
  margin-bottom: 10%;
  margin-top: 10%;

}
.tecno img{
  width: 25%;
  opacity: 80%;
}


.process{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 15%;
}

.processItem{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--Eerie-Black);
  border-radius: 20px;
  color: var(--white-smoke);
  height: fit-content;
  margin: 0  0  1% 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  
}


.processItem h1{
  font-family: var(--font-family);
  font-size: var(--font-size-MH);
  color: var(--jonquil);
  margin: 0;
  padding: 0;

}

.processItem p{
  font-size: var(--font-family-2);
  
}

.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  gap: 5px;
  margin-bottom: 15%;
 
}


.portfolioIntem h1{
  font-size: var(--font-size-H);
  margin: 0;
  padding:0;

}
.portfolioIntem h3{
  font-family:var(--font-family-2);
  font-size: calc(var(--font-size)* 1.5);
  margin: 0;
  padding:0;
}


.portfolioIntem img{
  width: 100%;
  height: 50%;
}

.portfolioIntem a {
  color: var(--Eerie-Black);
  font-size: var(--font-size);
  font-family: var(--font-family-2);
  border-bottom: 5px solid var(--jonquil);
  
}

.portfolioIntem a:hover{
  border-radius: 50%;
  background-color: var(--jonquil);
}

.contact{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--Eerie-Black);
  color: var(--white-smoke);
  height: fit-content;
}

.contactItem{
  

margin: 5%;
}

.contactItem h1{
  font-family: var(--font-family-3);
  font-size: var(--font-size-MH);
  text-align: center;
}

.contactLabel{
  font-size: var(--font-size-SH);
  background-color: var(--Eerie-Black);
  font-family: var(--font-family)

}


.contactForm > div:last-child {
  width: 40%; 
}

/* responsive*/

@media screen and (max-width: 1200px) {
  .gate{
  font-size: 
  calc(var(--font-size-MH) / 1.1);
  }

}

@media screen and (max-width: 1024px) {

  .sectionAbout{
  grid-template-columns: 3fr 1fr;

  }

  .sectionAbout p{
    width: 100%;
  }

  .sectionAbout img{

    height: 80%;
  }

  .processItem{
    height: 100%;

  }

  .portfolioIntem img{
    height: 70%;

  }

}

@media screen and (max-width: 480px) {
  .menu{
    height: 20px;
  }

  .gate{
    font-size: 
    calc(var(--font-size-MH) / 1.2);
  }

  .SubHeader{
    display: inline-block;
  }

  .SubHeader br{
    display: none;
  }

  .SubHeader h1{
    font-size:calc( var(--font-size-H) *2);
  }

  .titles{

    font-size:
    calc( var(--font-size-MH)*1.4);
  }


  .sectionAbout{
   display: block;
   height: 305px;
  
    }
  .sectionAbout img{

    height: 150px;
  }

  .sectionAbout p {
    font-size: calc( var(--font-size) *2.3);
  }


  
  

  .info{
    border-radius: 20px;
    height: 200px;
  }

  .info h3{
    font-size: calc( var(--font-size-SH) *2.3);
  }

  .info p{
    font-size:calc( var(--font-size) * 2.3) ;
  }

  .etiquetas{
    display: block;
  }

 .etiquetas{
  font-size: calc( var(--font-size) *2.3);
 }

  .process{
    display: block;
    font-size: var(--font-size);
  }

  .processItem{
    height: 110px;
  }

  .processItem p{

    font-size: calc( var( --font-size)*2.3);
  }

  .processItem h1{

    font-size: calc(  var(--font-size-MH) *2.3);
  }


  .tecno img{

    height: 35%;
    width: 45%;
  }

  .Exitos {
    width: 220px;
    font-size: var(--font-size-SH);
    padding-bottom: 1%;
    margin-bottom: 1%;
  }

  .Exitos h1{
    font-size: calc( var(--font-size-H));

  }

  .Exitos h2{
    font-size: var(--font-size-H);
  }

  

  .ContainerExitos{
  
    display: grid;
    grid-template-columns: 1fr;
   justify-items: center;
    justify-content: center;
  }

  .buyButtom{
    font-size: var(--font-size-H);
  }

  .portfolio {
    display:block;
  }

  .portfolioIntem{ 
    margin-bottom: 10%; 

  }
  .portfolioIntem h3{

    font-size: calc( var(--font-size-H) *2);
  }

  .portfolioIntem p{
    font-size: calc( var(--font-size-SH) );

  }

  .portfolioIntem a{
    font-size: calc( var(--font-size-SH) )
  }

  .buttons1{
    font-size: calc( var(--font-size-H) *2);
  }
  .portfolioIntem img{
    height: 40%;

  }

  .contactItem h1{
    font-size:calc( var(--font-size-MH) *1.5);
  }

  .contactLabel{
    font-size:calc( var(--font-size-SH) *1.2);

  }

}