.menu{
height: 50px;
border-bottom: 1px solid var(--Eerie-Black);
font-family: var(--font-family-2);
color: var(--Eerie-Black);

}

.menu h1 {
  color: var(--Eerie-Black);
  margin: 0;
padding: 0;
  
}

.Hero {
  height: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: var(--font-size-H);
 font-family: var(--font-family-2);
 margin: 0;
}
.Hero h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
}

.gate{
  height: 600px;
  font-size: var(--font-size-H);
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.gate h2{
  margin: 0;
  padding: 0;
  
}

.SmallFont{
 font-family: var(--font-family-3);
 font-size: var(--font-size-H);
 background-color: var(--coquelicot);

}
.LargeFont{
font-family: var(--font-family);
 font-size: var(--font-size-MH);
 background-color: var(--jonquil);
}

.headerNewsContainer {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  background-color: var(--coquelicot);
 
}

.headerNewsContainerItem{
  padding: 3%;
  font-family: var(--font-family-2);
  border-top: 1px solid var( --Eerie-Black);
  border-bottom: 1px solid var( --Eerie-Black);
  border-right: 1px solid var( --Eerie-Black);
 display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.headerNewsContainerItem:last-child {
  border-right: none; 
  
}
.headerNewsContainerItem h2{
  font-size: var(--font-size-SH);
  margin:0 0 0 0;
  
}

.headerNewsContainerItem img {
  display: flex;
  justify-content: center;
  align-items: center;

  filter: opacity(0.8);
  width: 20px;
  margin: 0 0 0 0;
}

.headerNewsContainerItem p {
  margin: 0 0 0 0;
  justify-items: center;
}

.SubHeader{
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: var(--font-size-SH);
  background-color: var(--Eerie-Black);
  border: 1px solid  var(--Eerie-Black);
  border-bottom: none;

  color: var(--white-smoke);

}

.SubHeader h1{
  color: var(--white-smoke);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-H);
  font-family: var(--font-family-3);
  text-align: center;

}

.SubHeader h3{
  text-align: left;
  color: var(--Eerie-Black);
  font-size: var(--font-size);
  
}

.containerinfo{
  display: grid;
  grid-template-columns: 1fr 1fr   1fr;
  grid-template-rows: 1fr 1fr ;
  padding: 2px;
}

.info {
  
  display: block;


  font-size: var(--font-size-H);
  border: 2px solid var(--Eerie-Black);
 background-color: var(--white-smoke);
 border-radius: 5%;
 
 
 
}

.info h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--Eerie-Black);
  font-family: var(--font-family-3);
  font-size: var(--font-size-SH);
}

.info h3:hover{
  color: var(--white-smoke);
  text-shadow: 3px 3px var(--Eerie-Black);
}

.info img{
width: 50px;
  
}

.info:hover {
  background-color: var(--jonquil);
  border-width: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.ContainerExitos{
padding-top: 2%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}

.Exitos {
border: 2px solid var(--white-smoke);
background-color: var(--Eerie-Black);

border-radius: 5%;
color: var(--white-smoke);
font-family: var(--font-family-4);
text-align: center;
list-style-type: none;

}

.Exitos:hover {
  background-color: var(--coquelicot);
  border: 2px solid var(--Eerie-Black);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Exitos h2{
  margin: 0;
  padding: 0;
}
.Exitos h1{
  border-bottom: 2px solid var(--white-smoke);
 
  margin: 0;
  padding: 0;
}

.Exitos ul{
  list-style-type: none;
  padding: 0;

}

.buyButtom {
  font-family: var(--font-family-2);
  font-size: var(--font-size-SH);
  
  color: var(--white-smoke);
  width: fit-content;
  text-decoration: none;
  border-top: 2px solid var(--white-smoke);
}


.buyButtom:hover{
  color: var(--Eerie-Black);
  text-shadow: 2px 2px var(--white-smoke);
}

.etiquetas{
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: var(--font-size);
  justify-content: center;
  align-items: center;
}
.etiquetas h1{
  font-size: var(--font-size-MH);
}











